.chat__not-selected {
  font: 24px/28px 'RobotoRegular', Arial, Tahoma, sans-serif;
  color: #333;
}

.chat__btn-start-wrap {
  padding-top: 20px;
  margin-top: auto;
  margin-bottom: 32px;
  width: 100%;
}

.chat__btn-start {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 12px 10px;
  max-width: 140px;
  width: 100%;
  background: #B5D602;
  border-radius: 8px;
  font: 14px/16px 'RobotoRegular', Arial, Tahoma, sans-serif;
  color: #fff;
  border: 0;
  text-transform: uppercase;
}

.chat__btn-start:hover:enabled {
  opacity: .8;
}

.chat__btn-start:disabled {
  background-color: #D9D9D9;
}

.chat__body {
  display: flex;
  flex-flow: nowrap column;
  align-items: center;
  justify-content: center;
  height: 100%;
  max-height: calc(100vh - 100px);
  overflow: hidden;
  border-left: 1px solid #D9D9D9;
}

.chat__main-wrap {
  height: 100%;
}

.chat__send {
  position: relative;
  margin-top: auto;
  padding: 18px 32px;
  width: 100%;
  border-top: 1px solid #D9D9D9;
}

.chat__send-wrap {
  display: flex;
  flex-flow: nowrap row;
  align-items: center;
}

.chat__send-file {
  width: 42px;
  height: 42px;
  border: 0;
}

.chat__send-file input[type="file"] {
  display: none;
}

.chat__send-file > svg path {
  stroke-width: 1.5;
  stroke-linecap: round;
  stroke-linejoin: round;
  transition: stroke-width .2s linear;
}

.chat__send-file:hover > svg path {
  stroke-width: 3.5;
}

.chat__send-attach:after {
  content: '';
  position: absolute;
  top: 100%;
  left: -10px;
  right: 0;
  height: 40px;
  background-color: transparent;
}

.chat__send-file:hover .chat__send-attach {
  display: block;
}

.chat__send-attach {
  display: none;
  position: absolute;
  bottom: calc(100% + 8px);
  padding: 16px;
  background: #FFFFFF;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.chat__send-attach-item {
  display: flex;
  flex-flow: nowrap row;
  align-items: center;
  cursor: pointer;
}

.chat__send-attach-item:not(:last-child) {
  margin-bottom: 24px;
}

.chat__send-attach-item svg {
  margin-right: 12px;
}

.chat__send-attach-item path {
  stroke-width: 1.5;
  stroke-linecap: round;
  stroke-linejoin: round;
  transition: stroke-width .2s linear;
}

.chat__send-attach-item .type {
  font: 20px/23px 'RobotoRegular', Arial, Tahoma, sans-serif;
  color: #333;
}

.chat__send-attach-item:hover .type {
  text-decoration: underline;
}

.chat__send-attach-item:hover path {
  stroke-width: 2;
}

.chat__send-field {
  margin: 0 40px;
  width: 100%;
  font: 20px/23px 'RobotoRegular', Arial, Tahoma, sans-serif;
  color: #333;
  border: 0;
}

.chat__send-field::-webkit-input-placeholder {
  font: 20px/23px 'RobotoRegular', Arial, Tahoma, sans-serif;
  color: #999;
}

.chat__send-field:-moz-placeholder {
  font: 20px/23px 'RobotoRegular', Arial, Tahoma, sans-serif;
  color: #999;
}

.chat__send-field::-moz-placeholder {
  font: 20px/23px 'RobotoRegular', Arial, Tahoma, sans-serif;
  color: #999;
}

.chat__send-field:-ms-input-placeholder {
  font: 20px/23px 'RobotoRegular', Arial, Tahoma, sans-serif;
  color: #999;
}

.chat__send-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 54px;
  height: 54px;
  background-color: #B5D602;
  border-radius: 50%;
  border: 0;
}

.chat__send-btn svg path {
  stroke-width: 1.5;
  stroke-linecap: round;
  stroke-linejoin: round;
  transition: stroke-width .2s linear;
}

.chat__send-btn:hover:enabled {
  opacity: .8;
}

.chat__send-btn:disabled {
  background-color: #D9D9D9;
}

.chat__send-btn:hover path {
  stroke-width: 3.5;
}

.chat__body-wrap {
  margin-bottom: 40px;
}

.chat__body-inner {
  padding: 30px 32px 10px;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
}

.chat__body-inner .loader {
  display: block;
  margin: 0 auto;
}

.chat__body-date {
  display: block;
  margin: 0 auto 40px;
  font: 20px/23px 'RobotoMedium', Arial, Tahoma, sans-serif;
  color: #333;
  text-align: center;
}

.chat__message-item {
  display: flex;
  flex-flow: nowrap row;
  align-items: flex-start;
  margin-bottom: 50px;
}

.chat__message-avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 16px;
  flex-shrink: 0;
  width: 54px;
  height: 54px;
  border-radius: 50%;
  font: 24px/28px 'RobotoMedium', Arial, Tahoma, sans-serif;
  color: #fff;
  text-transform: uppercase;
  background: linear-gradient(180deg, #67A1EF 0%, #2F80ED 100%);
}

.chat__message-avatar--operator {
  background: linear-gradient(180deg, #B5D602 0%, #559100 100%);
}

.chat__message-info {
  padding-right: 40px;
  width: calc(100% - 54px - 16px - 20px);
}

.chat__message-name {
  margin-bottom: 8px;
  font: 20px/23px 'RobotoMedium', Arial, Tahoma, sans-serif;
  color: #333;
}

.chat__message-text {
  font: 20px/23px 'RobotoRegular', Arial, Tahoma, sans-serif;
  color: #333;
  white-space: pre-wrap;
  transition: color .2s linear;
}

.chat__message-img {
  display: block;
  max-width: 500px!important;
  max-height: 300px!important;
  overflow: hidden;
}

.chat__message-time {
  display: inline-block;
  margin-bottom: auto;
  font: 16px/19px 'RobotoRegular', Arial, Tahoma, sans-serif;
  color: #999;
}