.chat__title-all {
  padding: 31px 32px;
  font: 24px/28px 'RobotoRegular', Arial, Tahoma, sans-serif;
  color: #333;
  background-color: #FAFAFA;
}

.chat__top {
  display: flex;
  flex-flow: nowrap row;
  align-items: center;
  justify-content: space-between;
  height: 90px;
  padding: 14px 32px;
  border-bottom: 1px solid #D9D9D9;
  border-left: 1px solid #D9D9D9;
}

.chat__name {
  display: flex;
  flex-flow: nowrap row;
  align-items: center;
  font: 24px/28px 'RobotoRegular', Arial, Tahoma, sans-serif;
  color: #333;
}

.chat__name-complete {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  max-width: 140px;
  width: 100%;
  height: 40px;
  font: 14px/16px 'RobotoMedium', Arial, Tahoma, sans-serif;
  color: #fff;
  background: #B5D602;
  text-transform: uppercase;
  border-radius: 8px;
  border: 1px solid transparent;
  transition: opacity .2s linear, background-color .2s linear;
}

.chat__name-complete--show {
  margin-left: 6px;
  max-width: 50px;
  font-size: 13px;
}

.chat__name-complete:hover:enabled {
  opacity: 1;
  background-color: #559100;
}

.chat__name-complete:disabled {
  opacity: .6;
}

.chat__name-avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  margin-right: 16px;
  width: 54px;
  height: 54px;
  border-radius: 50%;
  font: 24px/28px 'RobotoMedium', Arial, Tahoma, sans-serif;
  color: #fff;
  text-transform: uppercase;
  background: linear-gradient(180deg, #67A1EF 0%, #2F80ED 100%);
}

.chat__name-text {
  font: 24px/28px 'RobotoRegular', Arial, Tahoma, sans-serif;
  color: #333;
}

.chat__unassigned .loader,
.chat__assigned .loader {
  display: block;
  margin: 0 auto;
}

.chat__assigned-list,
.chat__unassigned-list {
  max-height: 270px;
  overflow-Y: auto;
}

.chat__assigned-link,
.chat__unassigned-link {
  display: flex;
  flex-flow: nowrap row;
  align-items: center;
  padding: 17px 20px 17px 20px;
  border: 1px solid transparent;
  border-left: 4px solid transparent;
  transition: background-color .2s linear;
  cursor: pointer;
}

.chat__assigned-link.active,
.chat__unassigned-link.active,

.chat__assigned-link:hover,
.chat__unassigned-link:hover {
  background-color: rgba(85, 145, 0, .6);
}

.chat__assigned-link.active .chat__assigned-text,
.chat__unassigned-link.active .chat__unassigned-text,
.chat__assigned-link.active .chat__assigned-subtitle,
.chat__unassigned-link.active .chat__unassigned-subtitle,
.chat__unassigned-link.active .chat__unassigned-time,
.chat__assigned-link.active .chat__assigned-time,

.chat__assigned-link:hover .chat__assigned-text,
.chat__unassigned-link:hover .chat__unassigned-text,
.chat__assigned-link:hover .chat__assigned-subtitle,
.chat__unassigned-link:hover .chat__unassigned-subtitle,
.chat__unassigned-link:hover .chat__unassigned-time,
.chat__assigned-link:hover .chat__assigned-time {
  color: #fff;
}

.chat__assigned-avatar,
.chat__unassigned-avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  margin-right: 16px;
  width: 54px;
  height: 54px;
  border-radius: 50%;
  font: 24px/28px 'RobotoMedium', Arial, Tahoma, sans-serif;
  color: #fff;
  text-transform: uppercase;
  background: linear-gradient(180deg, #67A1EF 0%, #2F80ED 100%);
}

.chat__assigned-avatar--operator,
.chat__unassigned-avatar--operator {
  background: linear-gradient(180deg, #B5D602 0%, #559100 100%);
}

.chat__assigned-massage,
.chat__unassigned-massage {
  padding-right: 10px;
  width: calc(100% - 54px - 38px - 20px);
}

.chat__assigned-subtitle,
.chat__unassigned-subtitle {
  margin-bottom: 8px;
  font: 18px/21px 'RobotoMedium', Arial, Tahoma, sans-serif;
  color: #333;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  transition: color .2s linear;
}

.chat__assigned-text,
.chat__unassigned-text {
  font: 16px/19px 'RobotoRegular', Arial, Tahoma, sans-serif;
  color: #999;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  transition: color .2s linear;
}

.chat__assigned-time,
.chat__unassigned-time {
  display: inline-block;
  margin-bottom: auto;
  font: 16px/19px 'RobotoRegular', Arial, Tahoma, sans-serif;
  color: #999;
  transition: color .2s linear;
}

.chat__create-wrap {
  padding: 18px 32px;
}

.chat__create-field {
  margin-bottom: 40px;
}

.chat__create-field input {
  width: 100%;
  border: 1px solid #B5D602;
  border-radius: 2px;
  padding: 10px 24px;
  font: 20px/23px 'RobotoRegular', Arial, Tahoma, sans-serif;
  color: #333;
  transition: border .2s linear;
}

.chat__create-field input:focus {
  border: 1px solid #559100;
}

.chat__create-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 10px;
  margin-left: auto;
  max-width: 190px;
  width: 100%;
  font: 14px/16px 'RobotoMedium', Arial, Tahoma, sans-serif;
  background: #B5D602;
  border-radius: 8px;
  text-transform: uppercase;
  color: #fff;
  border: 0;
  transition: opacity .2s linear, background-color.2s linear;
}

.chat__create-btn:hover:enabled {
  opacity: 1;
  background-color: #559100;
}

.chat__create-btn:disabled {
  opacity: .6;
}

.chat__empty {
  padding: 10px;
}