.g-chat-title {
  padding: 14px 32px;
  font: 24px/28px 'RobotoRegular', Arial, Tahoma, sans-serif;
  color: #fff;
  background-color: #559100;
}

.error--right {
  text-align: right;
}

.error--center {
  text-align: center;
}

.error {
  font-size: 15px;
  color: red;
}