@font-face {
  font-family: 'RobotoRegular';
  src: url('../../public/assets/fonts/RobotoRegular/RobotoRegular.woff2') format('woff2');
  src: url('../../public/assets/fonts/RobotoRegular/RobotoRegular.woff') format('woff');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'RobotoMedium';
  src: url('../../public/assets/fonts/RobotoMedium/RobotoMedium.woff2') format('woff2');
  src: url('../../public/assets/fonts/RobotoMedium/RobotoMedium.woff') format('woff');
  font-style: normal;
  font-weight: normal;
}