* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: transparent;
}

*:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*::-webkit-input-placeholder {
  color: #666;
  opacity: 1;
}

*:-moz-placeholder {
  color: #666;
  opacity: 1;
}

*::-moz-placeholder {
  color: #666;
  opacity: 1;
}

*:-ms-input-placeholder {
  color: #666;
  opacity: 1;
}

html {
  height: 100%;
  font-size: 100%;
  line-height: 1.3;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  color: #000;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

textarea {
  resize: none;
}

select::-ms-expand {
  display: none;
}

label,
button,
input,
select {
  cursor: pointer;
}

input,
select,
textarea,
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: 0;
  border-radius: 0;
  background-clip: padding-box;
  border: 1px solid #666;
  padding: 0;
}

ul, li {
  padding: 0;
  margin: 0;
  list-style: none;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
  color: #000;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
  color: #000;
}

body {
  height: 100%;
  position: relative;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "RobotoRegular", Arial, Tahoma, sans-serif;
  font-size: 100%;
  line-height: 1.5;
  color: #000;
}