@media only screen and (max-width: 1500px) {
  /*.chat__order-title,*/
  .chat__title-all {
    padding: 19px 32px;
  }

  .chat__top {
    height: 66px;
  }
}

@media only screen and (max-width: 1440px) {
  .chat__assigned-link,
  .chat__unassigned-link {
    padding: 14px 20px 14px 20px;
  }

  .chat__create-field {
    margin-bottom: 20px;
  }

  .chat__assigned-list,
  .chat__unassigned-list {
    max-height: 252px;
    min-height: 252px;
  }

  .chat__create-wrap {
    padding: 16px 32px 4px;
  }

  .chat__body {
    max-height: calc(100vh - 70px);
  }

  .g-chat-title {
    padding: 14px 24px;
    font-size: 20px;
    line-height: 22px;
  }
}