#root {
  height: 100%;
}

.chat {
  display: flex;
  flex-flow: nowrap row;
  height: 100%;
}

.chat__left {
  width: 26%;
}

.chat__main {
  width: 74%;
  min-height: 100%;
}

.__react_modal_image__medium_img {
  background-color: #fff!important;
}