.chat__right {
  display: block;
  background-color: #FAFAFA;
  width: 320px;
  min-width: 320px;
}

.chat__order {
  height: 100%;
  overflow-y: auto;
}

.chat__order-top {
  display: flex;
  flex-flow: nowrap row;
  justify-content: space-between;
  align-items: center;
  padding: 31px 32px;
}

.chat__order-title {
  font: 24px/28px 'RobotoRegular', Arial, Tahoma, sans-serif;
  color: #333;
  background-color: #FAFAFA;
}

.chat__order-close {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 7px;
  min-width: 12px;
  height: 12px;
  border: 0;
  transition: transform .2s linear;
}

.chat__order-close:hover {
  transform: rotate(180deg);
}

.chat__order-close:after,
.chat__order-close:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #999;
}

.chat__order-close:after {
  transform: rotate(45deg);
}

.chat__order-close:before {
  transform: rotate(-45deg);
}

.chat__order-list-wrap {
  padding: 0 31px;
}

.chat__order-info {

}

.chat__order-list {
  padding: 22px 0;
  border-bottom: 1px solid #D9D9D9;
}

.chat__order-item {
  display: flex;
  flex-flow: nowrap row;
  justify-content: space-between;
}

.chat__order-item:not(:last-child) {
  margin-bottom: 24px;
}

.chat__order-item-left {
  width: calc(50% - 10px);
  font: 16px/19px 'RobotoRegular', Arial, Tahoma, sans-serif;
  color: #333;
}

.chat__order-item-right {
  width: 50%;
  word-break: break-word;
  font: 16px/19px 'RobotoRegular', Arial, Tahoma, sans-serif;
  color: #333;
}

.chat__order-item-right a:hover {
  text-decoration: underline;
}

.chat__order-item-right a {

}